.body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

.profileimg{
    border-radius: 100px;
    height:200px;
    width:200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}

.middle-container{
    margin-top: 100px;
}

.main-image{
  height: 100%;
  width:100%;

}

.Hello{
        color: #66bfbf;
        font-family: "Montserrat", sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        padding-bottom: 10px;
        margin-left:572px;
        margin-right: 200px;
        margin-top: 30px;

}

.intro {
    padding: 70px 0;
  border: 3px solid#66bfbf;
  text-align: center;
  font-family: "Montserrat", sans-serif;
    
}

.skills{
    margin-left: 572px;
    margin-right: 200px;
    margin-top: 30px;
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;

}

.projects{
    margin-left: 522px;
    margin-right: 200px;
    margin-top: 30px;
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

.gif{
    height: 200px;
    width:200px;
    border-radius: 100px;
}

.dnd{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.projecttxt{
    padding: 70px 0;
    border: 3px solid#66bfbf;
    text-align: center;
    font-family: "Montserrat", sans-serif;

}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

video { 
    
    overflow: hidden; 
} 
.gaana{
    width: 350px;
    border-radius: 10px; 
    overflow: hidden; 
    height: 180px;
    width: 390px;
    margin-left: -35px;
}
.artistsongs{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

    display: block;
    unicode-bidi: isolate;
}

h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    color: #11999e;
    font-family: "Montserrat", sans-serif;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.Getintouch{
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

.container{
    
     
        padding: 50px 0 20px;
        margin-top: 100px;

        display: flex;
  align-items: center;
  justify-content: center;
}

html.body{
    Width: 100%;
height: 100%;
margin: 0px;
padding: Opx;
overflow-x: hidden;
}


